In [ ]:
#VERİ SETİNİN OKUNMASI

In [73]:
data_set=pd.read_csv("insurance.csv")
data_set.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [74]:
print(data_set.rename(columns={'age':'Yaş',
                     'sex':'Medeni_Durum',
                     'bmi':'Vücut_Kitle ',
                     'children':'Çocuk_Sayısı',
                     'smoker':'Sigara_İçme _Durumu',
                     'region':'Bölge'
                     ,'charges':'Maliyet'
                    },inplace=False))

      Yaş Medeni_Durum  Vücut_Kitle   Çocuk_Sayısı Sigara_İçme _Durumu  \
0      19       female        27.900             0                 yes
1      18         male        33.770             1                  no
2      28         male        33.000             3                  no
3      33         male        22.705             0                  no
4      32         male        28.880             0                  no
...   ...          ...           ...           ...                 ...
1333   50         male        30.970             3                  no
1334   18       female        31.920             0                  no
1335   18       female        36.850             0                  no
1336   21       female        25.800             0                  no
1337   61       female        29.070             0                 yes

          Bölge      Maliyet
0     southwest  16884.92400
1     southeast   1725.55230
2     southeast   4449.46200
3     northwest  21984.47061
4     northwest   3866.85520
...         ...          ...
1333  northwest  10600.54830
1334  northeast   2205.98080
1335  southeast   1629.83350
1336  southwest   2007.94500
1337  northwest  29141.36030

[1338 rows x 7 columns]

In [75]:
data_set.describe() #veri setine ilişkin bilgiler
#kategorik değişkenleri göstermedi

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [40]:
#VERİ ÖN İŞLEME

In [76]:
data_set.isnull().sum()#eksik veri varmı bakıyoruz
#eksik veri olsaydı silecektik veya verileri doldururuz

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [ ]:
#Verilerin sütunlarda dengeli dağılıp dağılmadığını inceliyoruz

In [77]:
age_statistic=data_set["age"].value_counts()
sex_statistic=data_set["sex"].value_counts()
bmi_statistic=data_set["bmi"].value_counts()
children_statistic=data_set["children"].value_counts()
smoker_statistic=data_set["smoker"].value_counts()
region_statistic=data_set["region"].value_counts()
print("Yaş:\n",age_statistic)
print("Medeni_Durum:\n",sex_statistic)
print("Vücut_Kitle:\n",bmi_statistic)
print("Çocuk_Sayısı:\n",children_statistic)
print("Sigara_İçme _Durumu:\n",smoker_statistic)
print("Bölge:\n",region_statistic)

Yaş:
 18    69
19    68
50    29
51    29
47    29
46    29
45    29
20    29
48    29
52    29
22    28
49    28
54    28
53    28
21    28
26    28
24    28
25    28
28    28
27    28
23    28
43    27
29    27
30    27
41    27
42    27
44    27
31    27
40    27
32    26
33    26
56    26
34    26
55    26
57    26
37    25
59    25
58    25
36    25
38    25
35    25
39    25
61    23
60    23
63    23
62    23
64    22
Name: age, dtype: int64
Medeni_Durum:
 male      676
female    662
Name: sex, dtype: int64
Vücut_Kitle:
 32.300    13
28.310     9
30.495     8
30.875     8
31.350     8
          ..
46.200     1
23.800     1
44.770     1
32.120     1
30.970     1
Name: bmi, Length: 548, dtype: int64
Çocuk_Sayısı:
 0    574
1    324
2    240
3    157
4     25
5     18
Name: children, dtype: int64
Sigara_İçme _Durumu:
 no     1064
yes     274
Name: smoker, dtype: int64
Bölge:
 southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

In [ ]:
 #KATEGORİK VERİLERİ NOMİNAL VERİLERE DÖNÜŞTÜRME

In [78]:
sex_types=pd.get_dummies(data_set.sex,prefix='sex')
smoker_types=pd.get_dummies(data_set.smoker,prefix='smoker')
region_types=pd.get_dummies(data_set.region,prefix='region')

In [79]:
data_set=pd.concat([data_set,sex_types,smoker_types,region_types],axis=1)
data_set.head()

,age,sex,bmi,children,smoker,region,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,female,27.900,0,yes,southwest,16884.92400,1,0,0,1,0,0,0,1
1,18,male,33.770,1,no,southeast,1725.55230,0,1,1,0,0,0,1,0
2,28,male,33.000,3,no,southeast,4449.46200,0,1,1,0,0,0,1,0
3,33,male,22.705,0,no,northwest,21984.47061,0,1,1,0,0,1,0,0
4,32,male,28.880,0,no,northwest,3866.85520,0,1,1,0,0,1,0,0

In [80]:
data_set.drop(['sex','smoker','region','sex_female','smoker_no'],axis=1,inplace=True)
data_set.head()

,age,bmi,children,charges,sex_male,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,0,1,0,0,0,1
1,18,33.770,1,1725.55230,1,0,0,0,1,0
2,28,33.000,3,4449.46200,1,0,0,0,1,0
3,33,22.705,0,21984.47061,1,0,0,1,0,0
4,32,28.880,0,3866.85520,1,0,0,1,0,0

In [ ]:
#X VE YE DEĞİŞKENLERİNE ATAMA

In [81]:
y=data_set["charges"]
data_set.drop(["charges"],axis=1,inplace=True)
X=data_set

In [84]:
X.head()#bağımsız değişkenler

,age,bmi,children,sex_male,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,0,1,0,0,0,1
1,18,33.770,1,1,0,0,0,1,0
2,28,33.000,3,1,0,0,0,1,0
3,33,22.705,0,1,0,0,1,0,0
4,32,28.880,0,1,0,0,1,0,0

In [85]:
y.head()#bağımlı değişken

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [86]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=46)#verileri eğitim ve test için ayırıyoruz

In [ ]:
#VERİ SETİNDE NORMALİZASYON İŞLEMİ YAPIYORUZ BURADAKİ AMAÇ VERİ DAHA DÜŞÜK BİR SKALADA TUTMAYA ÇALIŞIYORUZ DEĞERLER BU ŞEKİLDE BİRBİRİNE YAKINSIYOR VE MODEL DAHA DOĞRU ÇALIŞIYOR

In [87]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
x_test=scaler.fit_transform(X_test)

In [ ]:
#MAKİNE ÖĞRENMESİ VE MODEL PERFORMANSI

In [ ]:
#KARAR AĞACI REGRESYON

In [113]:
tree_regression=DecisionTreeRegressor(random_state=42,max_depth=2)
tree_regression=tree_regression.fit(X_train,y_train)
tahmın_tree_regression=tree_regression.predict(X_test)

C:\Anaconda\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but DecisionTreeRegressor was fitted without feature names
  warnings.warn(

In [ ]:
#RANDOM FORREST REGRESYON

In [114]:
random_regression=RandomForestRegressor(n_estimators=100,max_depth=4,random_state=42)
random_regression.fit(X_train,y_train)
tahmın_random_regression=random_regression.predict(X_test)

C:\Anaconda\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but RandomForestRegressor was fitted without feature names
  warnings.warn(

In [ ]:
#lASSO REGRESYON

In [115]:
lassoReg=Lasso(alpha=2)
lassoReg.fit(X_train,y_train)
tahmin_lasso=lassoReg.predict(X_test)

C:\Anaconda\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but Lasso was fitted without feature names
  warnings.warn(

In [ ]:
#ELASTİC REGRESYON

In [116]:
elastic_reg=ElasticNet(random_state=0)
elastic_reg.fit(X_train,y_train)
tahmin_elastic=elastic_reg.predict(X_test)

C:\Anaconda\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but ElasticNet was fitted without feature names
  warnings.warn(

In [ ]:
#RIDGE REGRESYON

In [117]:
ridge_reg=Ridge()
ridge_reg.fit(X_train,y_train)
tahmin_ridge=ridge_reg.predict(X_test)

C:\Anaconda\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but Ridge was fitted without feature names
  warnings.warn(

In [118]:
predicts=[tahmın_tree_regression,tahmın_random_regression,tahmin_lasso,tahmin_elastic,tahmin_ridge]
algoritma_names=["Karar Ağacı Regresyon","Random Forrest Regresyon","Lasso Regresyon","Elastic Regresyon","Ridge Regresyon"]

In [ ]:
#Sonuçları Hesaplama Fonksiyonu

In [119]:
def performance_calculate(predict):
    mae=mean_absolute_error(y_test,predict)
    mse=mean_squared_error(y_test,predict)
    rmse=np.sqrt(mse)
    r2=r2_score(y_test,predict)
    data=[mae,mse,rmse,r2]
    return data

In [120]:
seriler=[]
metrics=["MAE","MSE","RMSE","R2"]
for i in predicts:
    data=performance_calculate(i)
    seriler.append(data)

In [121]:
df=pd.DataFrame(data=seriler,index=algoritma_names,columns=metrics)
pd.set_option("display.colheader_justify","center")#kolon isimlerini ortalıyoruz

In [122]:
df

,MAE,MSE,RMSE,R2
Karar Ağacı Regresyon,7685.696954,9.750841e+07,9874.634732,0.281789
Random Forrest Regresyon,12957.553201,2.510588e+08,15844.833726,-0.849207
Lasso Regresyon,205880.379548,4.488779e+10,211867.396407,-329.627122
Elastic Regresyon,141771.438849,2.122741e+10,145696.307297,-155.353392
Ridge Regresyon,205740.044973,4.482759e+10,211725.277171,-329.183706

In [125]:
random_regression=RandomForestRegressor(n_estimators=100,max_depth=4,random_state=42)
random_regression.fit(X_train,y_train)
yeni_veri=np.array([[19,27.900,0,0,1,0,0,0,1]])
tahmın_random_regression=random_regression.predict(yeni_veri)
tahmın_random_regression

array([55698.89306186])

In [125]:
random_regression=RandomForestRegressor(n_estimators=100,max_depth=4,random_state=42)
random_regression.fit(X_train,y_train)
yeni_veri=np.array([[19,27.900,0,0,1,0,0,0,1]])
tahmın_random_regression=random_regression.predict(yeni_veri)
tahmın_random_regression

array([55698.89306186])